<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="bs-callout bs-callout-info">
      <h4>What is TabFlix?</h4>
      <p>
        TabFlix allows you to cycle between the given urls, each as a separate tab, on an infite loop. It was 
        developed to be used for office call-board services to allow a series of wall-boards (each with their own
        webpage) to be shown on the same monitor in sequence.
      </p>
      <p>The code for TabFlix can be found here: <a href="https://github.com/samchivers/tabflix">https://github.com/samchivers/tabflix</a></p>
    </div>
  </div>
</div>

<app-site-list></app-site-list>
<app-site-list-active></app-site-list-active>
<app-view></app-view>
<app-footer></app-footer>