@font-face {
    font-family: 'GraphiqueW01-Regular';
    src: local('graphiquew01regular'), url('./assets/fonts/graphiquew01regular/graphiquew01regular.ttf');
}

.noPadLeft {
    padding-left:0px !important;
}
